asn1crypto==0.24.0
attrs==18.1.0
Automat==0.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
cryptography==2.2.2
enum34==1.1.6
Flask==1.0.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
future==0.16.0
happybase==1.1.0
hbase-thrift==0.20.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
MySQL-python==1.2.5
ply==3.11
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyHive==0.5.1
pyhs2==0.6.0
pyOpenSSL==18.0.0
PySocks==1.6.8
requests==2.18.4
sasl==0.2.1
service-identity==17.0.0
six==1.11.0
SQLAlchemy==1.2.7
thrift==0.11.0
thrift-sasl==0.3.0
thriftpy==0.3.9
Twisted==22.4.0
txsockjs==1.2.2
urllib3==1.22
Werkzeug==0.14.1
WTForms==2.1
zope.interface==4.5.0
