{% extends "base.html" %}

{% block head %}
{% block title %} We Survey {% endblock %}

{% block styles %}
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    table {
        /*设置相邻单元格的边框间的距离*/
        border-spacing: 0;
        /*表格设置合并边框模型*/
        border-collapse: collapse;
    }

    /*关键设置 tbody出现滚动条*/
    table tbody {
        display: block;
        height: 250px;
        overflow-y: scroll;
    }

    table thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    /*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
    table thead {
        width: calc(100% - 1em)
    }

</style>
{% endblock styles %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% endblock %}

{% block script %}
<script src="/static/js/highcharts.js"></script>
<script src="{{ url_for('static',filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/messages_zh.js') }}"></script>
<script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
    window.scrollTo(0, 1);
} </script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<link href="/static/css/jquery.countdown.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/js/jquery.countdown.js"></script>
<script src="/static/js/script.js"></script>
{% endblock %}
{% endblock %}

{% block body %}
<!--header start here-->

<div class="header">
    {% block narbar %}
    <h3 class="main-head">WeSurvey</h3>
    <script>
        function close_flash() {
            var btn = document.getElementById('flash');
            btn.style.display = 'none'
        }
    </script>
    <div class="container" id="flash" style="text-align:center;">
        <div class="row clearfix">
            {% for message in get_flashed_messages(with_categories=True) %}
            {% if message[1] != 'Please log in to access this page.' %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert" onclick="close_flash()">&times;</button>
                {{ message[1] }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="head-strip">
        <div class="head-strip-left">
            {% if current_user.is_authenticated %}
            <span class="joe"><img src="{{current_user.image_name}}" style="width:100px;height: 100px;" alt=""> </span>
            <div class="joe-text">
                <h2><a href="{{url_for('auth.index')}}" style="color: #9ea7b3">Welcome back!</a></h2>
                <a href="https://cherrymonth.top/my_doc/{{current_user.id}}/1" target="_blank">我的个人博客</a>
            </div>
            {% else %}
            <span class="joe"><img src="" style="width:100px;height: 100px;" alt=""> </span>
            {% endif %}
        </div>
        <div class="head-strip-left">
            {% if current_user.is_authenticated %}
            <div>
                <h2 style="margin-left: 10%;margin-top: 10px"><a href="{{url_for('auth.node')}}" style="color: #9ea7b3">结点状态图</a></h2>
            </div>
            {% endif %}
        </div>
        <div class="head-strip-left">
            {% if current_user.is_authenticated %}
            <div>
                <h2 style="margin-left: 10%;margin-top: 10px"><a href="{{url_for('auth.word_cloud')}}" style="color: #9ea7b3">制作词云</a></h2>
            </div>
            {% endif %}
        </div>
        <div style="float: right">
            <ul>
                <li><a href="{{url_for('auth.logout')}}">登出</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--header bottom start here-->
    <div class="header-bottom">
        <div class="col-md-4 header-bot-left">
            <!--user-profile start here-->
            <div class="user-profile">
                <div class="user-prof-top">
                    <span class="cros"> </span>
                    <div class="col-md-4 user-prof-img">
                        {% if current_user.is_authenticated %}
                        <img src="{{current_user.image_name}}" style="width:100px;height: 100px;" alt="">
                        {% else %}
                        <img src="" style="width:100px;height: 100px;" alt="">
                        {% endif %}
                    </div>
                    <div class="col-md-8 user-prof-text">
                        {% if current_user.is_authenticated %}
                        <h3>{{current_user.username}}</h3>
                        <p>{{current_user.about_me}}</p>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="user-polio-bot">
                    <div class="col-md-4 user-prof-numb like-wt">
                        <span class="like-heart"> </span>
                        <h6>25,498</h6>
                    </div>
                    <div class="col-md-4 user-prof-numb fdback">
                        <span class="feedback"> </span>
                        <h6>145,369</h6>
                    </div>
                    <div class="col-md-4 user-prof-numb comment">
                        <span class="comment-mess"> </span>
                        <h6>2,487,521</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                {% if not current_user.is_authenticated %}
                <div class="login">
                    <h4>SIMPLE LOGIN FORM</h4>
                    <form id="form" class="form" method='GET' action="{{url_for('auth.login')}}">
                        <div class="form-group" style="color:red;width:370px;">
                            <label class="control-label" for="email" style="color:black">邮箱</label>
                            <input class="form-control" id="email" name="email" required type="email" minlength="2">
                        </div>
                        <div class="form-group" style="color:red;width:370px;">
                            <label class="control-label" for="password" style="color:black">密码</label>
                            <input class="form-control" id="password" name="password" required type="password"
                                   minlength="6" maxlength="10">
                        </div>
                        <div class="remember">
							<span class="checkbox1">
								 <label class="checkbox"><input type="checkbox" checked=""><i> </i>Remember me</label>
							</span>
                            <div class="send">
                                <input type="submit" value="LOGIN">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
                {% endif %}

            </div>
            <!--alaram start here-->
            <div class="alarm">
                <div class="alarm-top">
                    <h6>NEXT EVENT IN</h6>
                    <span class="bell"> </span>
                    <div class="clearfix"></div>
                </div>
                <div id="countdown"></div>
                <div class="dottes">
                    <span class="dot1">:</span>
                    <span class="dot2">:</span>
                </div>
                <h4>Hour</h4>
                <h5>Min</h5>
                <h3>Sec</h3>
                <a href="https://cherrymonth.top" target="_blank">My Blog！</a>
                <div class="clearfix"></div>
            </div>
            <div class="mountain-img">
                <div class="mountain-strip">
                    <div class="col-md-6 moutain-follow">
                        <span class="red-heart"> </span>
                        <p>1,182</p>
                    </div>
                    <div class="col-md-6 moutain-follow">
                        <span class="gree-download"> </span>
                        <p>14,327</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block content %}
        <div class="col-md-8 header-bot-right">

            <input type="hidden" id="sensor" value="{{session['key']}}">
            <input type="hidden" id="backend" value="{{backend}}">
            <div id="container" style="min-width:400px;height:400px"></div>
            {% if session['key'] and backend %}
            <script src="/static/js/sockjs.min.js"></script>
            <script src="/static/js/sockjsClient.js"></script>
            {% endif %}
            <div class="analytic">
                <div class="analytic-top">
                    <div class="infograpy"><h5>Data Stream Display !</h5></div>
                    <span class="share"> </span>
                    <div class="clearfix"></div>
                </div>

                <div class="banner">
                    <div class="bann-left">
                        <span class="bann-part"> </span>
                        <div class="bann-text">
                            <h1>Want to search Analitycs History?</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                    </div>
                    <div class="bann-rit">
                        <a href="#">EXPLORE</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="analytic-bottom">

                    <ul>
                        <li><h3><a href="#">$157,182</a></h3>
                            <p>Total Earnings</p></li>
                        <li><h3><a href="#">$38,952</a></h3>
                            <p>Revenue</p></li>
                        <li><h3><a href="#">+800k</a></h3>
                            <p>New Customers</p></li>
                    </ul>
                </div>
            </div>
            <div class="main"
                 style="margin-top: 50px;width:300px; float: left;background: white">
                <table class='table table-hover' style="height: 150px;">
                    <thead>
                    <tr>
                        <th>结点标记ID</th>
                        <th>结点名称</th>
                        <th>结点类型</th>
                    </tr>
                    </thead>
                    <tbody style="height: 150px;">
                    {% for info in info_list %}
                    <tr>
                        <td>
                            <a href="{{url_for('auth.show_info', key=info[0])}}">{{info[0]}}</a>
                        </td>
                        <td>{{info[1]['name']}}</td>
                        <td>{{info[1]['type']}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="main" style="margin-top: 50px;float:right;width:800px;background: white">
                <table class='table table-hover'>
                    <thead>
                    <tr>
                        <th>结点ID</th>
                        <th>结点名称</th>
                        <th>结点类型</th>
                        <th>结点数据</th>
                        <th>测量时间</th>
                    </tr>
                    </thead>
                    <tbody id="tbody_id">
                    </tbody>
                </table>
            </div>
        </div>
        {% endblock %}
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}