{% extends "base.html" %}

{% block script %}
<meta charset="utf-8">
<!--<script src="/static/js/highcharts.js"></script>-->
<script src="/static/js/highcharts.js"></script>
{% endblock %}

{% block content %}
<input type="hidden" id="sensor" value="{{key}}">
<input type="hidden" id="backend" value="{{backend}}">
<div id="container" style="min-width:400px;height:400px"></div>
<script src="/static/js/sockjs.min.js"></script>
<script src="/static/js/sockjsClient.js"></script>
<script>

</script>
{% endblock %}