{% extends "index.html" %}

{% block content %}
<input type="hidden" id="backend" value="{{backend}}">
<input type="hidden" id="user_id" value="{{current_user.id}}">
<script src="/static/js/sockjs.min.js"></script>
<script src="/static/js/updatework.js"></script>
<style>
    .line-limit-length {
        width: 7em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<div class="col-md-8 header-bot-right">
        <form id="user_form" method="post" class="form">
            <div class="form-group">
                <label class="control-label">网站地址</label>
                {{form.url(class="form-control", id="url", required=True, type="url", minlength="3", maxlength="30")}}
            </div>

            <div class="form-group">
                <label class="control-label">遍历数量</label>
                {{form.number(id="number", type="number", min="1", required=True)}}
            </div>

            <div class="form-group">
                <label class="control-label">离散度&nbsp;&nbsp;&nbsp;&nbsp;</label>
                {{form.dispersion(id="dispersion", type="number", min="1", required=True)}}
            </div>

            <div class="form-group">
                <label class="control-label" for="algorithm">遍历算法</label>
                <select id="algorithm" name="algorithm"><option value="bfs">广度优先搜索</option>
                <option value="dfs">深度优先搜索</option></select>
            </div>
            <div class="send">
                {{ form.submit(class="sign-in-button", style="margin-right:50%;width:400px;height:60px;") }}
            </div>
        <br>
        </form>
    <table class="table table-hover" style="margin-top: 10%">
    <thead>
    <tr>
        <th>任务ID</th>
        <th>目标网址</th>
        <th>网页遍历算法</th>
        <th>遍历数量</th>
        <th>离散度</th>
        <th>失败次数</th>
        <th>进度</th>
        <th>任务状态</th>
        <th>执行任务结点ID</th>
        <th>最近更新时间</th>
        <th>下载词云</th>
    </tr>
    </thead>
        <tbody style="height: 600px;" id="task_body">
        {% for work in work_list %}
        <tr id="task{{work['task_id']}}">
            <td>{{work['task_id']}}</td>
            <td class="line-limit-length">{{work['url'] | safe}}</td>
            <td class="line-limit-length">{{work['algorithm'] | safe}}</td>
            <td>{{work['number']}}</td>
            <td>{{work['dispersion']}}</td>
            <td>{{work['ack']}}</td>
            <td>{{work['schedule']}}</td>
            <td>{{work['status']}}</td>
            <td>{{work['node_id']}}</td>
            <td>{{work['entry_time']}}</td>
            <td>{{work['result'] | safe}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}